@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-black text-white;
}

.dark {
  --background: #0f172a; /* or #121212 */
  --foreground: #ffffff;
}
